
/* Main body and NavBar */

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: lightgrey;
    font-size: small;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.txtDiv {
    height: 50em;
    width: 40em;
}

#MasterDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

#lblWelcome {
    width: 100%;
    padding-top: .625em;
    padding-bottom: .625em;
    text-align: center;
    font-size: smaller;
    font-style: oblique;
}

#altWelcomeBar {
    width: 97em;
    height: 2em;
    background-color: lightgrey;
    position: relative;
    top: -.5em;
    left: -1em;
}

a {
    color: darkgrey;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

#welcomeBar {
    width: 97em;
    background-color: lightgrey;
    position: relative;
    top: -.5em;
    left: -1em;
}

#banner {
    position: relative;
    text-align: right;
    width: 100%;
}

/* Navbar Dropdown */

#dropDown {
    width: 3.125em;
}

#dropDown li a {
    font-size: smaller;
}

ul {
    list-style: none;
}

    ul li {
        display: inline-block;
        padding-right: 1.875em;
        padding-left: 1.875em;
    }

    li:hover {
        cursor: pointer;
    }

    ul li ul li {
        clear: both;
        width: 100%;
        padding-top: 1rem;
        position: relative;
        left: 64.0625em;
    }

/* Headers */

h4 {
    text-decoration: underline;
    color: lightgrey;
}

/* About Section */

#aboutSection {
    position: relative;
    top: 12.5em;
    text-align: center;
}

#aboutPara {
    position: relative;
    text-align: center;
    left: 27em;
}

/* Main Insta Section */

#mainInsta {
    position: relative;
    top: -20em;
    text-align: center;
}

/* Photos */

#mainImg {
    position: relative;
    top: 11.875em;
    width: 100%;
    height: 34.375em;
    background-image: url("https://scontent-ort2-2.cdninstagram.com/vp/42bc2a94636db37967854903a42d75b5/5BA4E8CB/t51.2885-15/e35/26865811_1648261911916850_5050323898722156544_n.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: bottom;
}

#mainImg2 {
    position: relative;
    top: -20em;
    width: 100%;
    height: 21em;
    background-image: url("https://scontent-ort2-2.cdninstagram.com/vp/ca36c12e0ed601ed85c3c638b9976b4b/5BC50EF4/t51.2885-15/e35/29714448_203583630419966_8818164296501428224_n.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: bottom;
}


/* Instagram Grid */

#gridContainer {
    width: 100%;
    height: 13em;
    position: relative;
    top: -60em;
    left: -1.9375em;
}

.gridImg {
    height: 11.875em;
    width: 16.5625em;
    display: inline-block;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#img1 {
    position: relative;
    left: 5.625em;
}

#img2 {
    position: relative;
    left: 4.375em;
}
#img3 {
    position: relative;
    left: 4.375em;
}

#img4 {
    position: relative;
    left: 4.375em;
}

#img5 {
    position: relative;
    left: 0.9375em;
}

#img6 {
    position: relative;
    top: -12.1875em;
    left: 80.3125em;
}

#instaPara {
    position: relative;
    left: 27em;
}